.buy-intro {
}
.buy-intro-inner {
    margin-left: 55px;
}

.buy-rcmp {
    background: $green;
    text-align: center;
    .default-btn {
        color: $light;
        border-color: $light;
        &:hover {
            background: $light;
            color: $green;
        }
    }
}

.buy-new-build {
    background: $med;
}