.cta {
    background-image: url(../img/halifax-bg.jpg); 
    background-size: cover;
    background-position: left center; 
    background-attachment: fixed;
    position: relative;
    color: $light;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
    }
    
    .default-btn {
        color: $light;
        display: block;
        border: 2px solid $light;
        float: right;
        &:hover {
            color: $gold;
            text-decoration: none;
            background-color: $light;
        }
    }
    
    h3 {
        font-weight: 500;
        font-size: 32px;
    }
    p {
        font-size: 24px;
    }
}