$black: #000;
$pink: #cea293;
$gold: #a57a26;
$green: #abbfb4;

$light: #efede1;
$med: #e4e0d4;
$cta: #686763;
$dark: #000;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap');

@font-face {
    font-family: "England";
    src: url("../fonts/england/EnglandSignature.woff") format("woff"), url("../fonts/england/EnglandSignature.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .2px;
    color: $dark;
    background: $light;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.full {
    width: 100%;
    float: left;
}

.sec-pad {
    padding-top: 90px;
    padding-bottom: 90px;
    @include media-breakpoint-down(sm) {

    }
}

.flex-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.page-hero {
    background-image: url(../img/halifax-bg.jpg);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    position: relative;
    h1 {
        padding: 220px 0 100px; 
        color: $light;
        font-size: 60px;
        text-align: center;
    }
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }
}