#wrapper-navbar, #wrapper-navbar-solid {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: 0.2s all;
}
.current_page_item {
    a {
        border-bottom: 1.5px solid $pink;
    }
}
#main-nav {
//    background-color: $pink !important;
}

#main-nav .navbar-brand {
    img {
        width: 130px;
        transition: 0.2s all;
    }
}

.navbar-expand-md .navbar-nav .nav-item {
    padding-right: 13px;
    padding-left: 13px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0 0 0 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .6px;
    color: $light;
    &:hover {
        border-bottom: 1.5px solid $pink;
    }
}

.tel {
    font-weight: 500;
    .nav-link {
        color: $light !important;
        font-size: 18px;
        position: relative;
        top: -1px;
    }
}

.navbar-expand-md .navbar-nav .tel .nav-link:hover {
    border-bottom: none;
}

//solid

.solid {
    background: $med;
    #main-nav .navbar-brand {
        img {
            width: 90px;
        }
    }
    .navbar-expand-md .navbar-nav .nav-link {
        color: $dark;
    }
    .tel .nav-link {
        color: $gold !important;
    }
}


.solid-contact {
    background: $med;
    #main-nav .navbar-brand {
        img {
            width: 90px;
        }
    }
    .navbar-expand-md .navbar-nav .nav-link {
        color: $dark;
    }
    .tel .nav-link {
        color: $gold !important;
    }
}